## Import libraries and loading data

In [1]:
# Import required libraries
import numpy as np
import pandas as pd

In [2]:
# Load the data of the temperature of a city near to Trento
dataframe = pd.read_csv("../../data/raw_data/dailyTempSalorno.csv")

## Code for the plots

In [3]:
# Parse the "data" column using "to_datetime()"
dataframe["data"] = pd.to_datetime(dataframe["data"], format="%d.%m.%Y")

In [4]:
# Extract the "year" and the "month" from the date
dataframe["year"] = pd.DatetimeIndex(dataframe["data"]).year
dataframe["month"] = pd.DatetimeIndex(dataframe["data"]).month

In [5]:
# Re-order the columns and extract only the required years
dataframe = dataframe[["year", "month", "min", "max"]]
dataframe = dataframe[ dataframe["year"].isin( [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021])]

In [7]:
# Parsing the data to float numbers
dataframe = dataframe.astype({
    "min" : float,
    "max" : float
})

In [8]:
# Compute the average temperature
dataframe['avg'] = (dataframe["min"] + dataframe["max"]) / 2

In [9]:
# Group data by "year" and "month", computing:
# - the minimum between the minimum temperatures of each month in each year;
# - the maximum between the maximum temperatures of each month in each year;
# - the average between the average temperatures of each month in each year.
dataframe = dataframe.groupby(["year", "month"]).agg({"min":"min", "max":"max", "avg":"mean"}).reset_index()

In [10]:
# Check the structure of the dataframe
dataframe.head()

   year  month  min   max        avg
0  1993      1 -9.0  12.0   0.435484
1  1993      2 -6.0  11.0   1.642857
2  1993      3 -5.0  27.0   8.000000
3  1993      4 -1.0  30.0  13.183333
4  1993      5  6.0  34.0  17.983871

In [12]:
# Save the dataframe
dataframe.to_csv("../../data/assign4/assign4-plot2.csv", sep=",", index = False)

In [14]:
# Load it to verify its integrity
pd.read_csv("../../data/assign4/assign4-plot2.csv")

    year  month   min   max        avg
0   1993      1  -9.0  12.0   0.435484
1   1993      2  -6.0  11.0   1.642857
2   1993      3  -5.0  27.0   8.000000
3   1993      4  -1.0  30.0  13.183333
4   1993      5   6.0  34.0  17.983871
..   ...    ...   ...   ...        ...
91  2021      8   9.6  32.9  21.388710
92  2021      9  11.1  29.7  19.578333
93  2021     10   1.7  22.0  11.945161
94  2021     11  -2.3  14.1   7.143333
95  2021     12  -5.7  11.5   2.840323

[96 rows x 5 columns]

In [15]:

dataframe = pd.read_csv("../../data/raw_data/dailyTempSalorno.csv")

In [18]:

dataframe["data"] = pd.to_datetime(dataframe["data"], format="%d.%m.%Y")
dataframe["year"] = pd.DatetimeIndex(dataframe["data"]).year
dataframe["month"] = pd.DatetimeIndex(dataframe["data"]).month
dataframe["day"] = pd.DatetimeIndex(dataframe['data']).day
dataframe = dataframe[["year", "month", "day", "min", "max"]]
dataframe = dataframe[ dataframe["year"].isin( [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021])]
dataframe.head()

   year  month  day min max
0  1993      1    1  -9   1
1  1993      1    2  -9  -1
2  1993      1    3  -4   1
3  1993      1    4  -9   0
4  1993      1    5  -5   2

In [21]:
dataframe.to_csv("../../data/assign4/assign4-plot3.csv", sep=",", index= False)

In [22]:
pd.read_csv("../../data/assign4/assign4-plot3.csv")

      year  month  day  min   max
0     1993      1    1 -9.0   1.0
1     1993      1    2 -9.0  -1.0
2     1993      1    3 -4.0   1.0
3     1993      1    4 -9.0   0.0
4     1993      1    5 -5.0   2.0
...    ...    ...  ...  ...   ...
2915  2021     12   27  2.3   6.0
2916  2021     12   28  2.7   6.3
2917  2021     12   29  0.6  10.7
2918  2021     12   30  3.2   9.9
2919  2021     12   31  3.9  11.5

[2920 rows x 5 columns]