In [3]:
import numpy as np
import pandas as pd

In [5]:
dataframe = pd.read_csv("../../data/raw_data/dailyTempSalorno.csv")

In [12]:
dataframe['data'] = pd.to_datetime(dataframe["data"], format="%d.%m.%Y")

In [25]:
dataframe['year'] = pd.DatetimeIndex(dataframe['data']).year
dataframe['month'] = pd.DatetimeIndex(dataframe['data']).month

In [32]:
dataframe = dataframe[["year", "month", "min", "max"]]
dataframe = dataframe[ dataframe["year"].isin( [1993, 1997, 2001, 2005, 2009, 2013, 2017, 2021])]

In [33]:
dataframe = dataframe.astype({
    "min" : float,
    "max" : float
})

In [35]:
dataframe['avg'] = (dataframe["min"] + dataframe["max"]) / 2

In [43]:
dataframe.groupby(["year", "month"])["avg"].mean()

year  month
1993  1         0.435484
      2         1.642857
      3         8.000000
      4        13.183333
      5        17.983871
                 ...
2021  8        21.388710
      9        19.578333
      10       11.945161
      11        7.143333
      12        2.840323
Name: avg, Length: 96, dtype: float64

In [36]:
dataframe.head()

   year  month  min  max  avg
0  1993      1 -9.0  1.0 -4.0
1  1993      1 -9.0 -1.0 -5.0
2  1993      1 -4.0  1.0 -1.5
3  1993      1 -9.0  0.0 -4.5
4  1993      1 -5.0  2.0 -1.5